﻿@inject NavigationService Navigator
@inject SessionStorageService Session
@inject NavigationManager Nav
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Multi-Universe Games</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Начало
            </NavLink>
        </li>
        @foreach (var link in Navigator.GetNavigationLinks())
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@link.Adress" Match="NavLinkMatch.All">
                    <span class="oi @link.Icon" aria-hidden="true"></span> @link.Name
                </NavLink>
            </li>
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Register" Match="NavLinkMatch.All">
                <span class="oi oi-check" aria-hidden="true"></span> Регистрация
            </NavLink>
        </li>
        @if (Authorization == false)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Auth" Match="NavLinkMatch.All">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Авторизация
                </NavLink>
            </li>
        }
        else
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" @onclick="logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Выйти
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    bool Authorization = false;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void logout()
    {
        Session.RemoveItemAsync("Authorized Account");
        Authorization = false;
        Nav.NavigateTo("/", true);
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var account = await Session.GetItemAsync<Account>("Authorized Account");
            if (account != null)
            {
                Authorization = true;
            }
            StateHasChanged();
        }
    }
}
