﻿
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>
                Приносим свои извинения, но ожидаемый контент не расположен в данный момент по этому адресу!<br>
                Данная страница находится на техническом обслуживании или же будет скоро добавлена.
            </p>
        </LayoutView>
    </NotFound>
</Router>
