﻿@inject SessionStorageService Session
@if (Authorization == true)
{
    <div class="container">
        @ChildContent
    </div>
}
else
{
    <div class="container">
        <h1>@StubText</h1>
    </div>
}
@code {
    [Parameter]
    public string StubText { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    private bool Authorization = false;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var account = await Session.GetItemAsync<Account>("Authorized Account");
            if (account != null)
            {
                Authorization = true;
            }
            StateHasChanged();
        }
    }
}
