﻿@page "/"
@namespace BlazorMuGames2.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multi-Universe Games</title>
    <base href="~/" />
    <link rel="shortcut icon" href="/MU-Inc logo white.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>

        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            На сайте призошла непредвиденнная ошибка. Технические работы уже начаты и в процессе.
        </environment>
        <environment include="Development">
            Непредвиденное исключение в работе сайта. Используйте инструменты веб-разработчика для уточнения деталей.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
