﻿@inject AccountService AccountBase
@inject NavigationManager Navigator
@inject SessionStorageService Session 
@page "/Auth"
@page "/Auth/{User}"


    <div class="container">
        <h3>Авторизация</h3>
        <EditForm id="authorization" Model="pretendaccount" OnValidSubmit="@Authorize">
            <div class="form-group">
                <h3 class="validation-message">@ErrorMessage</h3>
                <DataAnnotationsValidator />
                <ValidationSummary />
            </div>
            <div class="form-group">
                <label>Введите имя пользователя:</label>
                <InputText class="form-control" id="login" @bind-Value="pretendaccount.Login" />
            </div>
            <div class="form-group">
                <label>Введите пароль:</label>
                <InputText class="form-control" id="password" type="password" @bind-Value="pretendaccount.Password" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-dark">Войти</button>
                <button type="reset" class="btn btn-danger">Очистить Форму</button>
            </div>
        </EditForm>
    </div>
@code {
    Account pretendaccount = new Account();
    [Parameter]
    public string User { get => pretendaccount.Login; set => pretendaccount.Login = value; }
    private string ErrorMessage;
    private async Task Authorize()
    {
        pretendaccount.EnycryptPassword();
        var request = from acc in AccountBase.GetAccountsCollection()
                      where acc.Login == pretendaccount.Login && acc.Password == pretendaccount.Password
                      select acc;
        if (request.Count() == 1)
        {
            await Session.SetItemAsync("Authorized Account", request.First());
            await Session.SetItemAsync("IsAuthorized", true);
            pretendaccount.Login = "";
            pretendaccount.Password = "";
            Navigator.NavigateTo("/",true);
        }
        else
        {
            ErrorMessage = "Пользователеь с данным именем или паролем не найден";
            pretendaccount.Login = "";
            pretendaccount.Password = "";
        }
    }
}
