﻿@inject ForumService ForumProvider
@inject ChatService ChatProvider
@inject MessagingService MessageProvider
@inject SessionStorageService Session
@inject NavigationManager Navigator
@page "/ChatPage"
@page "/ChatPage/{ChatId}"
<h3>@ForumChat.ChatName</h3>
<dl class="list-group">
    @foreach (var messages in from messages in MessageProvider.GetChatMessages() where messages.Value.Id==ForumChat.Id select messages)
    {
        var message = messages.Key;
        <dt>@message.Account.Login&#8195 @message.Data.CreationDate.ToString("F")</dt>
        <dd>
            <h3>@message.Data.DataName</h3>
            @message.Data.DataText
        </dd>
    }
</dl>
<Stub StubText="Только авторизованные пользователи могут отправлять сообщения.">
    <EditForm id="Message" Model="MessageModel" OnValidSubmit="@SendMessage">
        <div class="form-group">
            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>
        <div class="form-group">
            <label>Введите заголовок(необязательно)</label>
            <InputText class="form-control" id="ForumName" @bind-Value="MessageModel.Data.DataName" />
        </div>
        <div class="form-group">
            <label>Введите текст сообщения</label>
            <InputTextArea class="form-control" id="ForumName" @bind-Value="MessageModel.Data.DataText" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-dark">Отправить</button>
            <button type="reset" class="btn btn-danger">Очистить Форму</button>
        </div>
    </EditForm>
</Stub>

@code {
    [Parameter]
    public string ChatId { get; set; }
    private Account UserAccount = new Account();
    private Chat ForumChat = new Chat();
    private Message MessageModel = new Message();
    private void SendMessage()
    {
        var messagemod= new Message();
        MessageModel.Account = UserAccount;
        MessageProvider.InsertMessage(MessageModel,ForumChat);
        Navigator.NavigateTo($"/ChatPage/{ChatId}", true);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var chat = from chats in ChatProvider.GetChats() where chats.Id == uint.Parse(ChatId) select chats;
            ForumChat = chat.First();
            var account = await Session.GetItemAsync<Account>("Authorized Account");
            if (account != null)
            {
                UserAccount = account;
            }
            StateHasChanged();
        }
    }
}
