﻿@page "/error"


<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Произошла ошибка во ремя обработки запроса.</h2>

<h3>Режим разработчика</h3>
<p>
    Переключение в среды режим <strong>разработчика</strong> покажет больше информации об ошибках.
</p>
<p>
    <strong>Режим разработчика не должен быть активен для уже развернутых приложений.</strong>
    Это может привести к раскрытию конфиденциальной информации об исключениях конечному пользователю.
    Для нужд локальной отладки, вы можете переключить среду в режим <strong>разработчика</strong> изменив значение переменной environment <strong>ASPNETCORE_ENVIRONMENT</strong>  variable <strong>Development</strong>
    и пререзапустив приложение.
</p>