﻿@inject ChatService ChatsProvider
@inject ForumService ForumProvider
@inject NavigationManager Navigator
@page "/ForumPage"
@page "/ForumPage/{ForumId}"
<h3>@HomeForum.ForumName</h3>
    <div class="container">
        @foreach (var Chat in ChatsProvider.GetChatsByForum(HomeForum))
        {
            var link = $"/ChatPage/{Chat.Id}";
            <NavLink class="nav-link" href="@link" Match="NavLinkMatch.All">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> @Chat.ChatName
            </NavLink>
        }
    </div>
<Stub StubText="Только авторизованные пользователи могут создать чаты">
    <h3>Регистрация чата</h3>
    <EditForm id="ChatRegister" Model="ChatModel" OnValidSubmit="@MountChat">
        <div class="form-group">
            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>
        <div class="form-group">
            <label>Введите название форума:</label>
            <InputText class="form-control" id="ForumName" @bind-Value="ChatModel.ChatName" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-dark">Создать чат</button>
            <button type="reset" class="btn btn-danger">Очистить Форму</button>
        </div>
    </EditForm>
</Stub>
@code {
    [Parameter]
    public string ForumId { get; set; }
    private Forum HomeForum= new Forum();
    private Chat ChatModel = new Chat();
    private void MountChat()
    {
        ChatsProvider.InsertChats(HomeForum, ChatModel);
        StateHasChanged();
        Navigator.NavigateTo($"/ForumPage/{HomeForum.Id}", true);
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var forum = from forums in ForumProvider.GetForums() where forums.Id == uint.Parse(ForumId) select forums;
            HomeForum = forum.First();
            StateHasChanged();
        }
    }
}

