﻿@page "/Forums"
@inject ForumService ForumProvider
@inject NavigationManager Navigator
<h3></h3>
<div class="container">
    @foreach (var forum in ForumProvider.GetForums())
    {
        var link = $"/ForumPage/{forum.Id}";
        <NavLink class="nav-link" href="@link" Match="NavLinkMatch.All">
            <span class="oi oi-envelope-closed" aria-hidden="true"></span> @forum.ForumName
        </NavLink>
    }
</div>
<Stub StubText="Только авторизованные пользователи могут создать форумы">
    <h3>Регистраиця форума</h3>
    <EditForm id="ForumRegister" Model="forummodel" OnValidSubmit="@Register">
        <div class="form-group">
            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>
        <div class="form-group">
            <label>Введите название форума:</label>
            <InputText class="form-control" id="ForumName" @bind-Value="forummodel.ForumName" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-dark">Войти</button>
            <button type="reset" class="btn btn-danger">Очистить Форму</button>
        </div>
    </EditForm>
</Stub>
@code {
    Forum forummodel = new Forum();
    private void Register()
    {
        ForumProvider.InsertForums(forummodel);
        StateHasChanged();
        Navigator.NavigateTo("/Forums", true);
    }
}
