﻿@page "/"
<h1>Добро пожаловать на веб-ресурс о компьютерных играх Multi-Universe Games.</h1>
<p>
    На данном ресурсе, вы можете найти различную информацию о разработке компьютерных игр, просто о компьютерных играх,<br>
    а также различные форумы, связанные с тематикой компьютерных игр. Также на сайте присутвует форум обучение, в котором
    вы сможете найти информацию о различных подходах в разработке компьютерных игр .
</p>
<h1>Правила использования форумов</h1>
<p>
    <ol>
        <li>
            В форуме новости, пишут только администраторы проектов, администрация сайта.
        </li>
        <li>
            Если вы хотите <a href="mailto:astorlmuc@gmail.com?subject=ПереносЧата">перенести чат</a> в другой форум, уведомьте администрацию о переносе.
        </li>
        <li>
            Не пишите сообщения слишком часто! Это может значительно увеличить нагрузку на сайт.
        </li>
        <li>
            Мат, оскорбления, и другие формы грубого обращения строго запрещены.
        </li>
        <li>
            Если возникли какие-либо <a href="mailto:astorlmuc@gmail.com?subject=ТехническиеПроблемы">технические проблемы</a>, то вы можете связаться с главным администратором сайта,<br>
            особенно, если эти проблемы касаются авторизациии.
        </li>
    </ol>
</p>