﻿@page "/Register"
@inject AccountService AccountBase
@inject NavigationManager Navigator

    <div class="container">
        <h3>Регистрация</h3>
        <EditForm id="registration" Model="account" OnValidSubmit="@Insert">
            <div class="form-group">
                <DataAnnotationsValidator />
                <ValidationSummary />
            </div>
            <div class="form-group">
                <label>Введите имя пользователя:</label>
                <InputText class="form-control" id="login" @bind-Value="account.Login" />
            </div>
            <div class="form-group">
                <label>Введите пароль:</label>
                <InputText class="form-control" id="password" type="password" @bind-Value="account.Password" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-dark">Зарегистрировать</button>
                <button type="reset" class="btn btn-danger">Очистить Форму</button>
            </div>
        </EditForm>
    </div>
@code {

    Account account = new Account();
    private void Insert()
    {
        AccountBase.AddAccount(account);
        account.Password = "";
        Navigator.NavigateTo($"/Auth/{account.Login}");
        account.Login = "";
    }
}
